{% extends "base.html" %} {% load static %} {% block content %}
<script>
    let token= "{{ csrf_token }}";
</script>
<script>
    

</script>

{% if request.user.is_authenticated %}
<h1 class="center">Messages</h1>
<form
  class="center column margin border"
  onsubmit="sendMessage();return false;"
  methode="POST"
>
  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    {% csrf_token %}
    <select
      class="mdl-textfield__input"
      id="receiverField"
      name="receiver"
      required
    >
      <option></option>
      {% for user in users %}
      <option value="{{user.username}}">{{user.username}}</option>
      {% endfor %}
    </select>
    <label class="mdl-textfield__label" for="receiver">Message to</label>
  </div>

  <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
    <textarea
      name="message"
      class="mdl-textfield__input"
      type="text"
      rows="3"
      id="messageField"
      required
    ></textarea>
    <label class="mdl-textfield__label" for="message">Text..</label>
  </div>
  <button
    type="submit"
    class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent"
  >
    Send
  </button>
</form>
<div id="message-cont">
  {% for message in messages %} {% if message.author == user %}
  <div class="center column row">
    {% else %}
    <div class="center column row-reverse">
      {% endif %}
      <div class="row">
        <h7 class="m-side">{{message.author}} to {{message.receiver}}</h7>
      </div>
      <div class="center column bubble margin mw200">
        <span class="date">{{message.date}}</span><i>{{message.text}}</i>
      </div>
    </div>

    {% endfor %}
  </div>

  {% else %}
  <div class="column center text-center padding-vertical">
    <h3>
      You are not logged!<br />
      Please log in <br /><a href="/login/">here</a>
    </h3>
  </div>
  {% endif %} {% endblock %}
</div>
